@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Modo Claro */
  --background: 229, 221, 212;
  --primary: 197, 153, 93;
  --secondary: 187, 145, 87;
  --tertiary: 154, 122, 77;
  --highlight: 178, 147, 102;
  --brown: 61, 55, 49;
  --beige: 205, 199, 193;
  --offWhite: 255, 247, 236;
}

.dark {
  --background: 25, 25, 25;
  --primary: 197, 153, 93;
  --secondary: 187, 145, 87;
  --tertiary: 154, 122, 77;
  --highlight: 178, 147, 102;
  --brown: 230, 230, 230;
  --beige: 180, 180, 180;
  --offWhite: 245, 245, 245;
}

@font-face {
  font-family: "Odasans Semibold";
  src: url("../fonts/Odasans/Odasans-Semibold.ttf");
}
@font-face {
  font-family: "Wulkan";
  src: url("../fonts/Wulkan/WulkanDisplayRegular.ttf");
}

@layer utilities {
  html {
    @apply scroll-smooth selection:bg-primary dark:bg-secondary selection:text-brown dark:selection:text-beige;
  }
  body {
    @apply bg-background transition-colors duration-300 dark:bg-background text-background dark:text-offWhite font-Poppins;
  }

  .dotsGrid {
    background: radial-gradient(#c5995d 2px, transparent 2px);
    background-size: 22px 22px;
  }
  .outOfContainer {
    margin: 0 calc(-50vw + 50%);
  }
  .bottomLine {
    @apply relative inline-block outline-none after:block after:h-[2px] after:w-0 after:bg-primary dark:after:bg-secondary
    after:transition-all after:duration-300 after:content-[''] hover:after:w-full
  }
  .ncls-title {
    @apply after:content-['NCLS'] after:absolute after:font-Odasans after:text-7xl md:after:text-8xl after:flex after:inset-0 after:justify-center after:items-center after:h-screen after:text-offWhite dark:after:text-secondary;
  }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c4bdb5;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-tertiary;
}

.h-FullScreen {
  height: calc(100vh - 112px);
}
